# Ignore everything
*

# But not these files...
!.gitignore
!one_mutex_linked_list.c
!rw_lock_linked_list.c
!serial_linked_list.c
!util.h
!constants.h
!structs.h
!init.c
!ll_operations.c
!run.sh
# etc...

# ...even if they are in subdirectories
!*/